<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220910950218-ikien9rrc1h0jbodihc7m7ghbe61bhlr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220910950218-ikien9rrc1h0jbodihc7m7ghbe61bhlr</string>
	<key>API_KEY</key>
	<string>AIzaSyAu2t7E9rrDBLo_SGG8c6H1kaac9VfW5Zw</string>
	<key>GCM_SENDER_ID</key>
	<string>220910950218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moncey2</string>
	<key>PROJECT_ID</key>
	<string>moncy2-fa8a4</string>
	<key>STORAGE_BUCKET</key>
	<string>moncy2-fa8a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220910950218:ios:db4e6c542cb3744b8793b3</string>
</dict>
</plist>